<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Chordination Bet Invite</title>
</head>
<body>
  Click <%= link_to 'HERE', "#{Rails.application.config.root_url}/entries/#{@participant.key}" %> to play.
</body>
</html>